

body{
    background-color: #FFFFF0;
}

.subsection.header {
    background-color: royalblue;
    margin-top: 5px;
    padding: 10px;

    color: rgb(255, 255, 255);
  }

.subsection#preview { 
    background-color:#FFA500;
    padding: 10px;
    color: blue;

}

.header-list {
    height: 100px;
    background-color: royalblue;
    padding: 25px;

}
.ancestor, .contents {
    display: auto;
    color: white;
    text-align: center;
}

.btn-single, .btn-group{
    background-color: orange;
    color: white;
    font-weight: italic;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
}

.btn-single:hover{
    text-decoration: underline;
}

.btn-group:hover{
    text-decoration: underline;
    color: orange;
}

.btn-group{
    background-color: white;
    color: black;
}



.madeit-btn{
    background-color: orange;
    color: white;
    height:30px;
    width: 100px;
    font-weight: bolder;
}

.print-btn{
    color: white;
    color: orange;
    height:30px;
    width: 100px;
    border-color: orange;
    font-weight: bolder;
}

.madeit-btn:hover{
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);   
}

.print-btn:hover{
    background-image: linear-gradient(#FFA500 0 0);
    color: white
}

/*adobo.html above*/

.recipe-btn, .recipes{
    color:white;
    background-color: orange;
    text-decoration: none;
}
.recipe-btn:hover, .recipes:hover{
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0); 
}

#recipes{
    text-decoration: none;
    color:black;
}

#recipes:hover{
    text-decoration:underline;
    color:#FFA500
}

.header-1{
    width: 400px;
    padding-left: 40px;
}
.header-helloworld {
color: #FFA500;
}
